[submodule "Christ/external/spdlog"]
	path = Christ/external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Christ\\external\\imgui"]
	path = Christ\\external\\imgui
	url = https://github.com/ocornut/imgui.git
